.vs/

psp2/*.o
psp2/*.elf
psp2/*.velf
psp2/build_vita/*
psp2/*.a

/libretro/msvc/msvc-2017/msvc-2017.vcxproj.user
/genesis_plus_gx_libretro.*
/genesis_plus_gx_wide_libretro.*
/genesis_plus_gx_sdl.*
/genesis_plus_gx_wide_sdl.*
/roms/*.md
/roms/roms.rc

*.o
*.a
*.so
